.fixed-left-nav {
  position: fixed;
  top: 375px;
  left: 15%;
  width: 200px;
  transition: top 1s;
}

.fixed-left-nav.top {
  top: 35px;
}

.fixed-left-nav .list-group-item.active {
  background-color: #95d0ff;
  border-color: #95d0ff;
}

@media (max-width: 1410px) {
  .fixed-left-nav {
    left: 10%;
  }
}

@media (max-width: 1100px) {
  .fixed-left-nav {
    left: 5px;
  }
}

@media (max-width: 990px) {
  .fixed-left-nav {
    display: none;
  }
}